Django==5.2.4
channels==4.3.1
channels-redis==4.3.0
daphne==4.2.1
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.1
django-filter==25.1
drf-spectacular==0.28.0
django-cors-headers==4.7.0
django-jazzmin==3.0.1
django-import-export==4.3.9
openpyxl==3.1.5
Pillow==11.3.0
python-dotenv==1.1.1
psycopg[binary]==3.2.9
